<!-- App Header -->
<div class="appHeader">
    <div class="left">
        <a href="javascript:history.back()" class="headerButton">
            <svg class="icon bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">
        Keranjang Belanja
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="listview-title">Daftar item</div>
    <ul class="listview image-listview media basket-items">
        <li class="justify-content-center">
            <div class="text-center py-3"><span class="spinner-border" role="status" aria-hidden="true"></span></div>
        </li>
    </ul>

    <div class="listview-title mt-2">Transaksi</div>
    <ul class="listview simple-listview">
        <li>Jumlah item <span class="text-bold" id="total-qty">0</span></li>
        <li>Total <span class="text-bold" id="total-payment">0</span></li>
    </ul>

    <div class="section pt-4 pb-4">&nbsp;</div>

    <div class="form-button-group pt-2">
        <div class="row">
            <div class="col-6 mb-2">
                <button type="button" data-action="save" class="btn btn-outline-secondary btn-block">
                    Simpan
                </button>
            </div>
            <div class="col-6 mb-2">
                <button type="button" id="print" class="btn btn-outline-secondary btn-block">
                    Cetak
                </button>
            </div>
            <div class="col-12 mb-2">
                <a href="/pos/payment" class="btn btn-primary btn-block" data-link>
                    Pilih pembayaran
                </a>
            </div>
        </div>
    </div>
</div>
<!-- * App Capsule -->