<!-- App Header -->
<div class="appHeader">
    <div class="left">
        <a href="/room-type" class="text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
    </div>
    <div class="pageTitle pt-1">
        <h3>
            Detail Room Type
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="section-data-list p-1 mb-2 mt-1">
        <div class="all-data">
            <div class="data-satuan">
                <div class="data-header">Room Type:</div>
                <div class="data">Villa Pastis Umalas</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">Adult:</div>
                <div class="data">4</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">Child:</div>
                <div class="data">0</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">Status:</div>
                <div class="data">Aktif</div>
            </div>
            <hr>
            <div class="data-satuan-description">
                <div class="data-header">Description</div>
                <div class="data">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi maxime alias hic
                    voluptas,</div>
            </div>
            <hr>
        </div>
        <div class="all-data mt-1">
            <div class="data-header p-2">ACTION</div>
            <div class="all-action">
                <div class="action col-4">
                    <div class="circle-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-eye-fill" viewBox="0 0 16 16">
                            <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                            <path
                                d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                        </svg>
                    </div>
                    <p>Detail</p>
                </div>
                <div class="action col-4">
                    <div class="circle-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                    </div>
                    <p>Diaktifkan</p>
                </div>
                <div class="action col-4">
                    <div class="circle-img">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path
                                d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.5.5 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11z" />
                        </svg>
                    </div>
                    <p>Ubah</p>
                </div>
            </div>
        </div>
    </div>
</div>