<!-- App Header -->
<div class="appHeader">
    <div class="left">
        <a href="/void-reservasi" class="text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
    </div>
    <div class="pageTitle pt-1">
        <h3>
            Void Reservasi
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="section-data-list p-1 mb-2 mt-1">
        <div class="all-data">
            <div class="data-satuan">
                <div class="data-header">TANGGAL VOID :</div>
                <div class="data">31 Maret 2022 14:41:22</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">NAMA :</div>
                <div class="name">
                    <div class="data">Rangga Gading martin (Guaranteed)</div>
                    <div class="alasan-void">Alasan Void : ganti data booking</div>
                </div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">MARKET SEGMEN :</div>
                <div class="data">Phone-IN</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">NOMOR KAMAR :</div>
                <div class="data">207</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">ARRIVAL DATE :</div>
                <div class="data">05 Desember 2021</div>
            </div>
            <hr>
            <div class="data-satuan">
                <div class="data-header">DEPARTURE DATE :</div>
                <div class="data">06 Desember 2021</div>
            </div>
            <hr>
        </div>
        <div class="all-data mt-1">
            <div class="data-header" style="justify-content: center;">VOID BY</div>
            <div class="data"  style="justify-content: center; font-size: 15px;">Super Admin</div>
        </div>
    </div>
</div>