<!-- App Header -->
<div class="appHeader">
    <div class="pageTitle mt-1">
        <h3>
            Guest In House
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section mb-2 mt-2">
        <a href="/detail-guest" class="text-muted" data-link>
            <div class="card">
                <div class="data-top">
                    <h4 style="font-size: 16px;">Putri</h4>
                    <p>Traveloka</p>
                </div>
                <div class="arrival">
                    <p>folio number :<p>
                    <p class="ml-1">FN-0224-266</p>
                </div>
                <div class="depature">
                    <p>nomor kamar :</p>
                    <p class="ml-1">VILLA BULAN (214)</p>
                </div>
            </div>
        </a>
        <a href="/detail-guest" class="text-muted" data-link>
            <div class="card">
                <div class="data-top">
                    <h4 style="font-size: 16px;">Muhammad Udin Ghathfan</h4>
                    <p>Walk-In</p>
                </div>
                <div class="arrival">
                    <p>folio number :<p>
                    <p class="ml-1">FN-0224-264</p>
                </div>
                <div class="depature">
                    <p>nomor kamar :</p>
                    <p class="ml-1">VILLA PURNAMA (07)</p>
                </div>
            </div>
        </a>
        <a href="/detail-guest" class="text-muted" data-link>
            <div class="card">
                <div class="data-top">
                    <h4 style="font-size: 16px;">Yermia Nugroho</h4>
                    <p>Walk-In</p>
                </div>
                <div class="arrival">
                    <p>folio number :<p>
                    <p class="ml-1">FN-0224-263</p>
                </div>
                <div class="depature">
                    <p>nomor kamar :</p>
                    <p class="ml-1">VILLA BULAN (200)</p>
                </div>
            </div>
        </a>
    </div>
</div>

{{> buttom-menus }}