<!-- App Capsule -->
<div id="appCapsule" class="pt-2">
    <div class="section mt-2 mb-2">
        <div class="card" id="sessionCard">
            <div id="sessionCardBody" class="card-menu grid-container">
                <a href="/checkin" data-link>
                <div class="grid-item">
                    <div class="item-menu">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#1DC9B7"
                        class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                            d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0z" />
                        <path fill-rule="evenodd"
                            d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                    </svg>
                    <p>Check-In</p>
                    </div>
                </div>
                </a>
                <div class="grid-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="#1DC9B7"
                        class="bi bi-book-fill" viewBox="0 0 16 16">
                        <path
                            d="M8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783" />
                    </svg>
                    <p>Reservasi</p>
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="#1DC9B7" class="bi bi-wallet2" viewBox="0 0 16 16">
                        <path
                            d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z" />
                    </svg>
                    <p>Kasir</p>
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="#1DC9B7" class="bi bi-cart-plus" viewBox="0 0 16 16">
                        <path
                            d="M9 5.5a.5.5 0 0 0-1 0V7H6.5a.5.5 0 0 0 0 1H8v1.5a.5.5 0 0 0 1 0V8h1.5a.5.5 0 0 0 0-1H9z" />
                        <path
                            d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1zm3.915 10L3.102 4h10.796l-1.313 7zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0m7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0" />
                    </svg>
                    <p>Outlet-Posting</p>
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="#1DC9B7" class="bi bi-unlock-fill" viewBox="0 0 16 16">
                        <path
                            d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2" />
                    </svg>
                    <p>Buka Transaksi</p>
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30"
                        fill="#1DC9B7" class="bi bi-repeat" viewBox="0 0 16 16">
                        <path
                            d="M11 5.466V4H5a4 4 0 0 0-3.584 5.777.5.5 0 1 1-.896.446A5 5 0 0 1 5 3h6V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m3.81.086a.5.5 0 0 1 .67.225A5 5 0 0 1 11 13H5v1.466a.25.25 0 0 1-.41.192l-2.36-1.966a.25.25 0 0 1 0-.384l2.36-1.966a.25.25 0 0 1 .41.192V12h6a4 4 0 0 0 3.585-5.777.5.5 0 0 1 .225-.67Z" />
                    </svg>
                    <p>House-Bank</p>
                </div>
            </div>
        </div>
    </div>

<div class="section mt-3 mb-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="scroll-horizontal">
                            <div class="container-status">
                                <div class="status kosong"></div>
                                <div class="status terisi"></div>
                                <div class="status reservasi"></div>
                                <div class="status akan-checkin"></div>
                                <div class="status rusak"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="room">
                            <div class="component-kecil"></div>
                            <div>Standard Roo m -10 kamar</div>
                        </div>
                        <div class="scroll-horizontal">
                            <div class="container-status">
                                <div class="kamar kosong"></div>
                                <div class="kamar kosong"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                            </div>
                        </div>
                        <br>
                        <div class="room">
                            <div class="component-kecil"></div>
                            <div>Deluxe Roo m -10 kamar</div>
                        </div>
                        <div class="scroll-horizontal">
                            <div class="container-status">
                                <div class="kamar kosong"></div>
                                <div class="kamar kosong"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                            </div>
                        </div>
                    </div>
            {{> buttom-menus }}