<!-- App Capsule -->
<div id="appCapsule" class="pt-2">
    <div class="section mt-2 mb-2">
        <div class="card" id="sessionCard">
            <div id="sessionCardBody" class="card-menu grid-container">
                <div class="grid-item">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x"
                        viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                    Checkin
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                    Reservasi
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg>
                    Kasir
                </div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg></div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg></div>
                <div class="grid-item"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                        <path
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708" />
                    </svg></div>
            </div>
        </div>
    </div>


    <div class="section mt-3 mb-3">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="scroll-horizontal">
                            <div class="container-status">
                                <div class="status kosong"></div>
                                <div class="status terisi"></div>
                                <div class="status reservasi"></div>
                                <div class="status akan-checkin"></div>
                                <div class="status rusak"></div>
                            </div>
                        </div>
                        <hr>
                        <div class="room">
                            <div class="component-kecil"></div>
                            <div>Standard Roo m -10 kamar</div>
                        </div>
                        <div class="scroll-horizontal">
                            <div class="container-status">
                                <div class="kamar kosong"></div>
                                <div class="kamar kosong"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                            </div>
                        </div>
                        <br>
                        <div class="room">
                            <div class="component-kecil"></div>
                            <div>Deluxe Roo m -10 kamar</div>
                        </div>
                        <div class="scroll-horizontal">
                            <div class="container-status">
                                <div class="kamar kosong"></div>
                                <div class="kamar kosong"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                                <div class="kamar"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- * App Capsule -->
            {{> buttom-menus }}