<!-- App Header -->
<div class="appHeader">
    <div class="pageTitle mt-1">
        <h3>
            Master Data
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

{{> buttom-menus }}
