<!-- App Header -->
<div class="appHeader">
    <div class="left ml-1">
        <a href="/homepage" class="text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
    </div>
    <div class="pageTitle pt-1">
        <h3>
            Kasir
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="section mb-2 mt-2">
        <a href="/detail-kasir" class="text-muted" data-link>
            <div class="card p-2">
                <div class="data-top">
                    <h4 style="font-size: 16px;"> Muhammad Udin Ghathfan</h4>
                    <p style="font-size: 15px; font-weight: bold;">PAID</p>
                </div>
                <div class="arrival">
                    <p> Arrival Date :</p>
                    <p>05 Desember 2021</p>
                </div>
                <div class="depature">
                    <p>Departure Date :</p>
                    <p>06 Desember 2021</p>
                </div>
            </div>
        </a>
    </div>
</div>
<!-- * App Capsule -->