<div id="appCapsule" class="pt-2">
    <div class="section mb-2">
        <div class="pilih-reservasi">
            <a href="">
            <div class="card-reservasi text-muted">Buat Reservasi</div>
            </a>
            <a href="">
            <div class="card-reservasi text-muted">Daftar Reservasi</div>
            </a>
            <a href="">
            <div class="card-reservasi text-muted">Pebatalan Reservasi</div>
            </a>
        </div>
    </div>
</div>

{{> buttom-menus }}