{{#each types as | type |}}
<a href="javascript:;" class="card mb-2 type-item" data-id="{{type.id}}">
    <div class="card-body text-center">
        {{type.name}}
    </div>
</a>
{{else}}
<div>Tidak ada tipe transakasi yang diaktifkan</div>
{{/each}}
