<!-- App Header -->
<div class="appHeader">
    <div class="left">
        <a href="javascript:history.back()" class="headerButton">
            <svg class="icon bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">
        Pembayaran Tunai
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="section mt-2 mb-2">
        <div class="transaction-total">
            <h5>Nilai Transaksi</h5>
            <h2 class="value-transaction">Rp{{[helpers/currency] total}}</h2>
        </div>
    </div>

    <div class="section mt-2" id="payment-suggestion">
        <div class="row">
            <div class="col-6">
                <a href="javascript:;" class="btn btn-outline-secondary btn-block text-center" data-value="0"
                    data-action="pay-option" id="uangpas">Uang pas</a>
            </div>
            <div class="col-6">
                <a href="javascript:;" class="btn btn-outline-secondary btn-block text-center"
                    data-action="other-nominal">Lainnya</a>
            </div>
        </div>
    </div>

    <div class="section mt-2">
        <div class="form-group basic hide collapse" id="payment-nominal">
            <div class="input-wrapper">
                <input type="tel" class="form-control" id="payment_nominal" placeholder="Jumlah Pembayaran">
            </div>
        </div>
    </div>

    <div class="pt-2 pb-2">&nbsp;</div>

    <div class="form-button-group d-none">
        <button type="button" class="btn btn-primary btn-block" data-toggle="modal"
            data-target="#pay-modal">Bayar</button>
    </div>

    <!-- Pay Action Sheet -->
    <div class="modal fade action-sheet" id="pay-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <div class="appHeader">
                        <div class="left">
                            <a href="javascript:;" class="headerButton" data-dismiss="modal">
                                <svg class="icon bi bi-x" width="1em" height="1em" viewBox="0 0 16 16"
                                    fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
                                        clip-rule="evenodd" />
                                    <path fill-rule="evenodd"
                                        d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            </a>
                        </div>
                        <div class="pageTitle">
                            Selesaikan pembayaran
                        </div>
                        <div class="right">

                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="action-sheet-content">
                        <p>
                            Anda akan menyelesaikan pembayaran dengan nilai transaksi sebesar <br>
                            <span class="value-transaction">Rp{{[helpers/currency] total}}</span>
                        </p>
                        <div class="text-bold mb-2 d-flex justify-content-between">Uang diterima <span id="cash-recive"
                                class="text-right">Rp0</span></div>
                        <div class="text-bold mb-2 d-flex justify-content-between refund-container">Kembalian <span
                                id="refund" class="text-right">Rp0</span></div>
                        <a href="javascript:;" class="btn btn-secondary btn-block btn-lg"
                            id="pay-confirm-btn">Konfirmasi pembayaran</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- * Pay Action Sheet -->
</div>
<!-- * App Capsule -->