<div class="appHeader justify-left">
    <div class="left">
        <a href="javascript:history.back()" class="headerButton">
            <svg class="icon bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle left">
        <span id="bulan"></span>
    </div>
    <div class="right">
        <a href="javascript:;" class="headerButton" id="eraser-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="1.5em" height="1.5em" fill="currentColor" class="bi bi-arrow-clockwise" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
            </svg>
        </a>
        <a href="javascript:;" class="headerButton" data-toggle="modal" data-target="#DialogForm">
            <svg class="icon bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                    clip-rule="evenodd"></path>
                <path fill-rule="evenodd"
                    d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>

<div id="appCapsule">
    <div class="section full mb-2">
        <div class="wide-block p-0 item-transaksi">
            <div class="text-center py-3"><span class="spinner-border" role="status" aria-hidden="true"></span>
            </div>
        </div>
    </div>
</div>

<div class="modal fade dialogbox" id="DialogForm" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Pilih Bulan & tahun</h5>
            </div>
            <form>
                <div class="modal-body text-left mb-2">
                    <div class="form-group basic">
                        <div class="input-wrapper">
                            <label class="label" for="email1">Bulan</label>
                            <select name="bulan" class="form-control"  id="bulan-selected">
                                <option disabled>Pilih Bulan</option>
                                <option value="01">Januari</option>
                                <option value="02">Februari</option>
                                <option value="03">Maret</option>
                                <option value="04">April</option>
                                <option value="05">Mei</option>
                                <option value="06">Juni</option>
                                <option value="07">Juli</option>
                                <option value="08">Agustus</option>
                                <option value="09">September</option>
                                <option value="10">Oktober</option>
                                <option value="11">November</option>
                                <option value="12">Desember</option>
                            </select>
                            {{!-- <input type="email" class="form-control" id="email1" placeholder="Enter an e-mail">
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i> --}}
                        </div>
                    </div>

                    <div class="form-group basic">
                        <div class="input-wrapper">
                            <label class="label" for="password1">Tahun</label>
                            <select name="tahun" id="tahun-selected" class="form-control">

                            </select>
                            {{!-- <input type="password" class="form-control" id="password1"
                                placeholder="Type a password">
                            <i class="clear-input">
                                <ion-icon name="close-circle"></ion-icon>
                            </i> --}}
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div class="btn-inline">
                        <button type="button" class="btn btn-text-secondary" data-dismiss="modal">Tutup</button>
                        <button type="button" class="btn btn-text-primary" id="select-btn" data-dismiss="modal">Terpakan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>