<!-- App Header -->
<div class="appHeader">
    <div class="left ml-1">
        <a href="/profil" class="text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
    </div>
    <div class="pageTitle mt-1">
        <h3>
            Settings
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<div id="appCapsule">
    <div class="section-data-list mb-2 mt-1 p-1">
        <div class="card mb-1">
            <div class="tabel mb-1">
                <div class="data-tabel">Id</div>
                <div class="">FN-0224-266</div>
            </div>
            <hr>
            <div class="tabel mt-1">
                <div class="data-tabel">Nama</div>
                <div class="">Putri</div>
            </div>
            <hr>
            <div class="tabel mt-1">
                <div class="data-tabel">Mata Uang</div>
                <div class="">IDR</div>
            </div>
            <hr>
            <div class="tabel mt-1">
                <div class="data-tabel">Pengaturan</div>
                <div class="">..</div>
            </div>
            <hr>
        </div>
        <button class="logout-btn" data-toggle="modal" data-target="#modal-reset">Reset</button>
    </div>
</div>
</div>

<!-- Modal Basic -->
<div class="modal fade" id="modal-reset" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h3 class="modal-title">Reset</h3>
            </div>
            <div class="modal-body">
                <h4>Apakah Anda yakin ingin reset?</h4>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Tutup</button>
                <a href="/">
                    <button type="button" class="btn-logout">Ya, Reset</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->