<ul class="listview flush transparent image-listview text">
    {{#each outlets}}
    <li>
        <a href="javascript:;" for="outlet-{{id}}" class="item outlet-item">
            <div class="in">
                {{name}} <input type="radio" name="outlet-radio" class="d-none" value="{{id}}" id="outlet-{{id}}">
            </div>
        </a>
    </li>
    {{/each}}
</ul>