<!-- App Capsule -->
<div id="appCapsule">

    <div class="login-form">
        <div class="section mt-5">
            <img src="./images/logo.png" alt="image" class="form-image">
        </div>

        <div class="section">
            <h2 class="mt-5">ID Hotel anda</h2>
            <p class="text-muted">
                Masukan ID hotel anda yang dapat dilihat pada menu setting pada aplikasi HotelMU
            </p>
            <div id="alert-wrapper"></div>
            <form id="form-setup">

                <div class="form-group">
                    <input type="text" id="id-hotel-input" class="form-control" placeholder="ID Hotel">
                </div>
                <div class="form-group">
                    <input type="password" id="security-code-input" class="form-control" placeholder="Password">
                </div>
                <div class="mt-2">
                    <button type="submit" id="submit-button" class="btn btn-dark btn-block" disabled>Kirim</button>
                </div>

            </form>
        </div>
    </div>

</div>
<!-- * App Capsule -->