<!-- App Header -->
<div class="appHeader no-border">
    <div class="left">
        <a href="javascript:;" id="close-shift" class="headerButton">
            <svg class="icon bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">
       Informasi Tutup Shift
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

{{!-- App Capsule --}}
<div id="appCapsule" >
    <ul class="listview simple-listview">
        <li>
            Tanggal Buka
            <span>{{ shift.start }}</span>
        </li>
        <li>
            Jam Buka
            <span>{{ shift.start_time }}</span>
        </li>
        <li>
            Saldo Awal
            <span>Rp{{ [helpers/currency] shift.begining_balance }}</span>
        </li>
        <li>
            Tanggal Tutup
            <span>{{ shift.end }}</span>
        </li>
        <li>
            Jam Tutup
            <span>{{ shift.end_time }}</span>
        </li>
        <li>
            Saldo Akhir
            <span>Rp{{ [helpers/currency] shift.ending_balance }}</span>
        </li>
    </ul>
</div>
{{!-- * App Capsule --}}