{{#each tables as | table |}}
    {{#if table.is_available }}
    <li data-id="{{table.id}}" data-name="{{table.name}}" class="table-id">
       <a href="javascript:;">
           {{table.name}}
       </a>
    </li>
    {{/if}}
{{else}}
<div class="alert alert-warning text-center m-2">Tidak Ada Daftar Meja!</div>
{{/each}}