<!-- App Header -->
<div class="appHeader">
    <div class="left ml-1">
        <a href="/pilih-reservasi" class="text-muted">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">
        <h3>
            Tentative Reservasi
        </h3>
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <div class="section mb-2 mt-2">
        <form id="regForm" action="/action_page.php">
            <div class="top-text">
                <div class="text-atas">
                    <svg class="icon-comments" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 640 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                        <path fill="#000000"
                            d="M88.2 309.1c9.8-18.3 6.8-40.8-7.5-55.8C59.4 230.9 48 204 48 176c0-63.5 63.8-128 160-128s160 64.5 160 128s-63.8 128-160 128c-13.1 0-25.8-1.3-37.8-3.6c-10.4-2-21.2-.6-30.7 4.2c-4.1 2.1-8.3 4.1-12.6 6c-16 7.2-32.9 13.5-49.9 18c2.8-4.6 5.4-9.1 7.9-13.6c1.1-1.9 2.2-3.9 3.2-5.9zM0 176c0 41.8 17.2 80.1 45.9 110.3c-.9 1.7-1.9 3.5-2.8 5.1c-10.3 18.4-22.3 36.5-36.6 52.1c-6.6 7-8.3 17.2-4.6 25.9C5.8 378.3 14.4 384 24 384c43 0 86.5-13.3 122.7-29.7c4.8-2.2 9.6-4.5 14.2-6.8c15.1 3 30.9 4.5 47.1 4.5c114.9 0 208-78.8 208-176S322.9 0 208 0S0 78.8 0 176zM432 480c16.2 0 31.9-1.6 47.1-4.5c4.6 2.3 9.4 4.6 14.2 6.8C529.5 498.7 573 512 616 512c9.6 0 18.2-5.7 22-14.5c3.8-8.8 2-19-4.6-25.9c-14.2-15.6-26.2-33.7-36.6-52.1c-.9-1.7-1.9-3.4-2.8-5.1C622.8 384.1 640 345.8 640 304c0-94.4-87.9-171.5-198.2-175.8c4.1 15.2 6.2 31.2 6.2 47.8l0 .6c87.2 6.7 144 67.5 144 127.4c0 28-11.4 54.9-32.7 77.2c-14.3 15-17.3 37.6-7.5 55.8c1.1 2 2.2 4 3.2 5.9c2.5 4.5 5.2 9 7.9 13.6c-17-4.5-33.9-10.7-49.9-18c-4.3-1.9-8.5-3.9-12.6-6c-9.5-4.8-20.3-6.2-30.7-4.2c-12.1 2.4-24.7 3.6-37.8 3.6c-61.7 0-110-26.5-136.8-62.3c-16 5.4-32.8 9.4-50 11.8C279 439.8 350 480 432 480z" />
                    </svg>
                    <p class="ml-1 text-comments">Isi Form Reservasi</p>
                </div>
            </div>
            <hr>
            <div class="tab p-1">
                <label class="form-label">Rates-Plan</label>
                <div class="input-btn-kanan">
                    <input type="text" id="inputPlan" class="form-control" placeholder="" readonly>
                    <button type="button" class="form-btn-kanan" data-toggle="modal" data-target="#rateplane">
                        ..
                    </button>
                </div>
                <label class="form-label mt-1">Market Segment</label>
                <div class="input-btn-kanan">
                    <input type="text" id="segmentasi" class="form-control" placeholder="" readonly>
                    <button type="button" class="form-btn-kanan" data-toggle="modal" data-target="#piligsegmentasi">
                        ..
                    </button>
                </div>
                <label class="form-label mt-1">Arrival Date</label>
                <input type="date" id="arrivalDate" class="form-control">
                <label class="form-label mt-1">Departure Date</label>
                <input type="date" id="departureDate" class="form-control">
                <label class="form-label mt-1">Blok Kamar</label>
                <div class="select-radio">
                    <input type="radio" id="ya" name="BlokKamar" value="ya">
                    <label for="">Ya</label>
                    <input type="radio" id="tidak" name="BlokKamar" value="tidak">
                    <label for="">Tidak</label>
                </div>
                <label class="form-label mt-1">Baquet</label>
                <div class="select-radio">
                    <input type="radio" id="tidak" name="baquet" value="tidak">
                    <label for="">Tidak</label>
                    <input type="radio" id="ya" name="baquet" value="ya">
                    <label for="">Ya</label>
                </div>
            </div>
            <div class="tab p-1">
                <div class="room">
                    <div class="component-kecil"></div>
                    <div class="text-component">
                        <p>Standard Room -</p>
                        <p class="ml-1">10 kamar</p>
                    </div>
                </div>
                <div class="form-kamar">
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard101" name="roomDeluxe"
                            value="101" />
                        <label for="">101</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard102" name="roomDeluxe"
                            value="102" />
                        <label for="">102</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard103" name="roomDeluxe"
                            value="103" />
                        <label for="">103</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard104" name="roomDeluxe"
                            value="104" />
                        <label for="">104</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard105" name="roomDeluxe"
                            value="105" />
                        <label for="">105</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard106" name="roomDeluxe"
                            value="106" />
                        <label for="">106</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard107" name="roomDeluxe"
                            value="107" />
                        <label for="">107</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard108" name="roomDeluxe"
                            value="108" />
                        <label for="">108</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard109" name="roomDeluxe"
                            value="109" />
                        <label for="">109</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomStandard110" name="roomDeluxe"
                            value="110" />
                        <label for="">110</label>
                    </div>
                </div>
                <div class="room mt-2">
                    <div class="component-kecil"></div>
                    <div class="text-component">
                        <p>Deluxe Room -</p>
                        <p class="ml-1">10 kamar</p>
                    </div>
                </div>
                <div class="form-kamar">
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe201" name="roomDeluxe"
                            value="201" />
                        <label for="">201</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe202" name="roomDeluxe"
                            value="202" />
                        <label for="">202</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe203" name="roomDeluxe"
                            value="203" />
                        <label for="">203</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe204" name="roomDeluxe"
                            value="204" />
                        <label for="">204</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe205" name="roomDeluxe"
                            value="205" />
                        <label for="">205</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe206" name="roomDeluxe"
                            value="206" />
                        <label for="">206</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe207" name="roomDeluxe"
                            value="207" />
                        <label for="">207</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe208" name="roomDeluxe"
                            value="208" />
                        <label for="">208</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe209" name="roomDeluxe"
                            value="209" />
                        <label for="">209</label>
                    </div>
                    <div class="pilih-kamar p-2">
                        <input type="checkbox" class="checkbox-kamar" id="roomDeluxe210" name="roomDeluxe"
                            value="210" />
                        <label for="">210</label>
                    </div>
                </div>
            </div>
            <div class="tab p-1">
                <div class="bill">
                    <h3 style="display: flex; justify-content: center; align-items: center;">BILL</h3>
                    <label class="form-label mt-1">Total Bill</label>
                    <input type="text" class="form-control" readonly>
                </div>
                <hr>
                <div class="Data Guest">
                    <div class="row">
                        <label for="colFormLabel" class="col-sm-1 col-form-label ml-1">Name</label>
                        <div class="col" style="display: flex;">
                            <input type="text" class="form-control" placeholder="First name" aria-label="First name">
                            <input type="text" class="form-control" placeholder="Last name" id="colFormLabelSm"
                                aria-label="Last name">
                            <div class="ml-1">
                                <button type="button" class="form-btn-kanan p-1" data-toggle="modal"
                                    data-target="#datatamu">
                                    ..
                                </button>
                            </div>
                        </div>
                        <p class="ml-2 mr-1" style="font-size: 11px;">
                            Klik tombol biru untuk memilih Data tamu, jika tamu telah check-in sebelumnya.
                        </p>
                    </div>
                    <label class="form-label mt-2">ID</label>
                    <div class="row">
                        <div class="col">
                            <select class="form-select form-control">
                                <option selected>---</option>
                                <option value="1">SIM</option>
                                <option value="2">KTP</option>
                                <option value="3">Pasport</option>
                            </select>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <label class="form-label mt-2">Blok Kamar</label>
                    <div class="select-radio">
                        <input type="radio" id="Regular" name="GuestType" value="Regular">
                        <label for="">Regular</label>
                        <input class="ml-2" type="radio" id="vip" name="GuestType" value="vip">
                        <label for="">Vip</label>
                    </div>
                    <label class="form-label mt-2">Tempat, Tanggal Lahir</label>
                    <div class="row">
                        <div class="col">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" placeholder="">
                        </div>
                    </div>
                    <label class="form-label mt-2">Jenis Kelamin</label>
                    <div class="select-radio">
                        <input type="radio" id="laki-laki" name="jenkel" value="laki-laki">
                        <label for="">Laki-laki</label>
                        <input class="ml-2" type="radio" id="perempuan" name="jenkel" value="perempuan">
                        <label for="">Perempuan</label>
                    </div>
                    <label class="form-label mt-2">Agama</label>
                    <select class="form-select form-control">
                        <option selected>---</option>
                        <option value="1">Islam</option>
                        <option value="2">Kristen Protestan</option>
                        <option value="3">Kristen Katolik</option>
                        <option value="4">Budha</option>
                        <option value="5">Hindu</option>
                    </select>
                    <label class="form-label mt-2">Title</label>
                    <div class="select-radio">
                        <input type="radio" id="mr" name="title" value="mr">
                        <label for="">Mr.</label>
                        <input class="ml-2" type="radio" id="mrs" name="title" value="mrs">
                        <label for="">Mrs.</label>
                        <input class="ml-2" type="radio" id="miss" name="title" value="miss">
                        <label for="">Miss.</label>
                    </div>
                    <label class="form-label mt-2">Pekerjaan</label>
                    <select class="form-select form-control">
                        <option selected>---</option>
                        <option value="1">Wiraswasta</option>
                        <option value="2">Pegawai Swasta</option>
                        <option value="3">PNS</option>
                        <option value="4">Pelajar</option>
                    </select>
                    <label class="form-label mt-2">Alamat</label>
                    <textarea type="text" class="form-control"></textarea>
                    <label class="form-label">Negara</label>
                    <div class="input-btn-kanan">
                        <input type="text" id="inputNegara" class="form-control" placeholder="" readonly>
                        <button type="button" class="form-btn-kanan" data-toggle="modal" data-target="#negara">
                            ..
                        </button>
                    </div>
                    <label class="form-label">Propinsi</label>
                    <div class="input-btn-kanan">
                        <input type="text" id="inputPropinsi" class="form-control" placeholder="" readonly>
                        <button type="button" class="form-btn-kanan" data-toggle="modal" data-target="#propinsi">
                            ..
                        </button>
                    </div>
                    <label class="form-label">Kota</label>
                    <div class="input-btn-kanan">
                        <input type="text" id="inputKota" class="form-control" placeholder="" readonly>
                        <button type="button" class="form-btn-kanan" data-toggle="modal" data-target="#kota">
                            ..
                        </button>
                    </div>
                    <label class="form-label">Kode Pos</label>
                    <input type="text" class="form-control">
                    <label class="form-label">Email</label>
                    <input type="text" class="form-control">
                    <label class="form-label">No.Telp</label>
                    <input type="text" class="form-control">
                    <label class="form-label">No.Handphone</label>
                    <input type="text" class="form-control">
                </div>
            </div>
            <div style="overflow:auto;">
                <div style="float:right; margin-top: 10px;">
                    <button type="button" id="prevBtn" class="btn-step">Previous</button>
                    <button type="button" id="nextBtn" class="btn-step">Next</button>
                </div>
            </div>
            <div style="text-align:center;margin-top: 10px;">
                <span class="step"></span>
                <span class="step"></span>
                <span class="step"></span>
            </div>
        </form>
    </div>
</div>
<!-- App Capsule -->

<!-- Modal Basic -->
<div class="modal fade" id="rateplane" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" placeholder="Seacrh">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Plan</th>
                            <th scope="col">Plan Value</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Normal Rate</td>
                            <td>1 Days</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Walk IN Rate</td>
                            <td>1 Days</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Harga Kuning</td>
                            <td>1 Days</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Harga Merah</td>
                            <td>1 Days</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>PSSI</td>
                            <td>1 Days</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>Monthly Rates</td>
                            <td>1 Bulanan</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>Plan perPerson</td>
                            <td>1 Person</td>
                            <td> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->

<!-- Modal Basic -->
<div class="modal fade" id="piligsegmentasi" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" placeholder="Seacrh">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Market Segmentasi</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Walk-IN</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Phone-IN</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Web-IN</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>Traveloka</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>ansvin</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>BOOKING.COM</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>celebes</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>AGENT A</td>
                            <td>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->
<!-- Modal Basic -->
<div class="modal fade" id="datatamu" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" placeholder="Seacrh">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Guest</th>
                            <th scope="col">No.Handphone</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>
                                <div class="nama-guest">
                                    <h4>Sintia test</h4>
                                    <p>8492118888 (KTP)</p>
                                </div>
                            </td>
                            <td>344</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>
                                <div class="nama-guest">
                                    <h4>Rangga Gading martin</h4>
                                    <p>3674031502840003 (KTP)</p>
                                </div>
                            </td>
                            <td>0266266268</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>
                                <div class="nama-guest">
                                    <h4>xxx yyy zzz<h4>
                                            <p>8646843543154 (KTP)
                                            <p>
                                </div>
                            </td>
                            <td></td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->
<!-- Modal Basic -->
<div class="modal fade" id="negara" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" placeholder="Seacrh">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Negara</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Andora</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>United Arab Emirates</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Afghanistan</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->
<!-- Modal Basic -->
<div class="modal fade" id="propinsi" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" placeholder="Seacrh">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Propinsi</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bali</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Bangka Belitung</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Banten</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->
<!-- Modal Basic -->
<div class="modal fade" id="kota" tabindex="-1" role="dialog">
    <div class="modal-dialog custom-modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <form class="search-form">
                    <div class="form-group searchbox">
                        <input type="text" class="form-control" placeholder="Seacrh">
                        <i class="input-icon">
                            <ion-icon name="search-outline"></ion-icon>
                        </i>
                    </div>
                </form>
            </div>
            <div class="modal-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Nama Kota</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Bandung</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>Jakarta</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>Cimindi</td>
                            <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-check" viewBox="0 0 16 16">
                                    <path
                                        d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z" />
                                </svg></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-modal-close" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- * Modal Basic -->