{{#each items as | item |}}
<li class="product">
    <div class="item">
        <div class="imageWrapper">
            <img src="/images/placeholder.jpg" alt="image" class="imaged w48">
        </div>
        <div class="in">
            <div>
                {{item.name}}
                <div class="text-muted">{{item.qty}} X Rp{{[helpers/currency] item.price}} {{#if ([helpers/nequal] item.disc 0)}}(disc {{item.disc}}%){{/if}} </div>
            </div>
            <span>Rp{{[helpers/currency]item.total}}</span>
        </div>
    </div>
</li>
{{/each}}