<!-- App Header -->
<div class="appHeader justify-left">
    {{!-- <div class="ml-1">
        <input type="text" class="form-control" placeholder="Cari transaksi ...">
    </div>
    <div class="mx-2 flex-grow-1">
        <div class="border rounded p-1 d-flex justify-content-center align-items-center">
            <span class="flex-grow-1">Status</span>
            <i class="fas fa-angle-down"></i>
        </div>
    </div> --}}
    <div class="left">
    </div>
    <div class="pageTitle">
        Daftar Transaksi
    </div>
    <div class="right">
        {{#if is_filtered}}
        <a href="javascript:;" class="headerButton" id="eraser-btn">
            <svg class="icon bi" xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor"
                class="bi bi-eraser" viewBox="0 0 16 16">
                <path
                    d="M8.086 2.207a2 2 0 0 1 2.828 0l3.879 3.879a2 2 0 0 1 0 2.828l-5.5 5.5A2 2 0 0 1 7.879 15H5.12a2 2 0 0 1-1.414-.586l-2.5-2.5a2 2 0 0 1 0-2.828l6.879-6.879zm2.121.707a1 1 0 0 0-1.414 0L4.16 7.547l5.293 5.293 4.633-4.633a1 1 0 0 0 0-1.414l-3.879-3.879zM8.746 13.547 3.453 8.254 1.914 9.793a1 1 0 0 0 0 1.414l2.5 2.5a1 1 0 0 0 .707.293H7.88a1 1 0 0 0 .707-.293l.16-.16z" />
            </svg>
        </a>
        {{/if}}
        <a href="/transaction/filter" data-link class="headerButton" data-toggle="modal" data-target="#ModalForm">
            <svg class="icon bi bi-search" width="1em" height="1em" viewBox="0 0 20 20" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M12.442 12.442a1 1 0 011.415 0l3.85 3.85a1 1 0 01-1.414 1.415l-3.85-3.85a1 1 0 010-1.415z"
                    clip-rule="evenodd"></path>
                <path fill-rule="evenodd"
                    d="M8.5 14a5.5 5.5 0 100-11 5.5 5.5 0 000 11zM15 8.5a6.5 6.5 0 11-13 0 6.5 6.5 0 0113 0z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    </div>
</div>
<!-- * App Header -->
<!-- App Capsule -->
<div id="appCapsule">
    <ul class="listview image-listview text trx" id="transaction-list">
    </ul>
    <ul class="listview image-listview" id="loading">
        <li class="justify-content-center">
            <div class="text-center py-3"><span class="spinner-border" role="status" aria-hidden="true"></span></div>
        </li>
    </ul>
</div>
<!-- * App Capsule -->
{{> buttom-menus }}