.card-menu {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px; 
  }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 5px;
    padding: 20px;
    font-size: 10px;
    text-align: center;
    display: block;
    font-size: small;
    border-radius: 15px;
    height: 105px;
    width: auto;
  }

  .icon-menu{
    size: 15px;
    
  }
  