.kosong {
    background-color: green;
}

.terisi {
    background-color: red;
}

.reservasi {
    background-color: yellow;
}

.akan-checkin {
    background-color: blue;
}

.rusak {
    background-color: purple;
}

.card-menu {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px; }

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .grid-item {
    background-color: rgba(179, 59, 59, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    margin: 5px;
    padding: 20px;
    font-size: 10px;
    text-align: center;
  }