.kosong {
    background-color: #28a745;
}

.terisi {
    background-color: #dc3545;
}

.reservasi {
    background-color: #ff9900;
}

.akan-checkout {
    background-color: #007bff;
}

.rusak {
    background-color: #6f42c1;
}

.card-menu {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 5px;
    font-size: 10px;
    text-align: center;
    display: block;
    font-size: small;
    border-radius: 15px;
    height: 105px;
    width: auto;
}

.item-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.scroll-horizontal {
    width: auto;
    overflow-x: auto;
}

.container-status {
    display: flex;
}

.status {
    border-radius: 15px;
    flex: 0 0 auto;
    width: 60px;
    height: 35px;
    margin-right: 10px;
}

.scd-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9F7F5;
    border-radius: 15px;
    width: 60px;
    height: 35px;
    margin-right: 10px;
}


.component-kecil {
    flex: 0 0 auto;
    border-radius: 5px;
    width: 5px;
    height: 35px;
    margin-right: 10px;
    background-color: rgb(46, 46, 186);
}

.text-component {
    display: flex;
    padding-top: 15px;
}

.room {
    display: flex;
    align-items: center;
}

.text-status {
    height: 10px;
    padding-top: 2px;
    padding-right: 0, 5px;
    margin-right: 8px;
}

.text-status-akanCheckout {
    width: 120px;
    height: 10px;
    margin-top: 5px;
}

.top-text {
    display: flex;
    justify-content: space-between;
    height: 10px;
}

.icon-comments {
    height: 16px;
    width: 16px;
    margin-top: -5px;
    padding-top: -10px;
}

.text-comments {
    margin-top: -9px;
    padding-top: -13px;
}

.text-atas {
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}

.rates-plan {
    display: flex;
    padding-bottom: 1px;
}

.room-check {
    margin-top: -7px;
}

.room {
    margin-top: 3px;
}

.checkin {
    padding-bottom: 1px;
    margin-top: 2px;
}

.date-checkin {
    border: 0;
    border-bottom: 0.1px solid grey;
    padding-left: 10px;
    margin-left: 5px;
    width: 93%;
}

.checkout {
    padding-bottom: 1px;
    margin-top: 6px;
}

.date-checkout {
    border: 0;
    border-bottom: 0.1px solid grey;
    padding-left: 10px;
    margin-left: 5px;
    width: 93%;
}

.input {
    display: flex;
}

.pilih-segmen {
    margin-left: 50px;
    height: 20px;
    border-radius: 7px;
}

.button-segmen {
    border: none;
    background-color: #470829;
    margin-top: 1px;
    margin-left: 1px;
    height: 30px;
    width: 30px;
}

.text-button-segmen {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.pilih-data-tamu {
    margin-top: 1px;
    height: 45px;
    border-radius: 7px;
}

.button-data-tamu {
    border: none;
    background-color: #470829;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    margin-top: 1px;
    height: 43px;
    width: 110px
}

.text-data-tamu {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.tambah-kurang {
    display: flex;
    align-items: center;
}

.btn-minus {
    border: none;
    border-start-start-radius: 7px;
    border-end-start-radius: 7px;
    background-color: #DDDDDD;
    width: 50px;
    height: 40px;
}

.form-jumlah {
    border: 0px;
    border-bottom: 1px solid grey;
    width: 250px;
    text-align: start;
    height: 40px;
}

.btn-plus {
    border: none;
    border-start-end-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #DDDDDD;
    width: 50px;
    height: 40px;
}

.btn-kembali {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    background-color: #f64e60;
}

.content-btn-kembali {
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
}

.panah-kembali {
    margin-top: 3%;
    width: 17px;
    height: 17px;
}

.text-kembali {
    padding-left: 3px;
    color: white;
}


.btn-selanjutnya {
    margin-left: 75px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #8950fc;
}

.content-btn-selanjutnya {
    display: flex;
    margin-top: 8px;
    margin-left: 5px;
}

.panah-selanjutnya {
    margin-top: 3%;
    width: 17px;
    height: 17px;
}

.text-selanjutnya {
    padding-right: 3px;
    color: white;
}

.btn-atas-preview {
    background-color: #470829;
    height: 30px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: -11px;
}

.text-btn-preview {
    font-size: small;
    color: white;
}

.pengaturan {
    display: flex;
}

.text-setting {
    display: flex;
    flex-direction: column;
}

.text-setting p {
    margin: 0;
}

.icon-setting {
    color: #ffb3ff;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comments-setting {
    width: 20px;
    height: 20px;
}

.text-head-setting {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-modal-data-tamu {
    background-color: #4a53e7;
    color: #F3F6F9;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-modal-close {
    background-color: #F3F6F9;
    color: #4a53e7;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;

}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
}

.form-id {
    display: flex;
    gap: 15px;
}

.data-diri {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.data-diri input {
    width: 100%;
}

.form-component p {
    margin-bottom: 0;
}

.header-preview {
    display: flex;
    justify-content: space-between;
}

.top-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    background-color: rgb(46, 46, 186);
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.email {
    display: flex;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-component {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F6F9;
    border-radius: 10px;
    padding: 15px;
}

.setting-component {
    display: flex;
    gap: 10px;
}

.text-setting h3,
.text-setting p {
    margin: 0;
}

.notification {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notification-component {
    display: flex;
    border-radius: 13px;
}

.notification-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-text {
    margin-left: 15px;
}

.notification-persen {
    margin-left: auto;
    font-weight: bold;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left {
    display: flex;
    gap: 10px;
}


.notifikasi {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid grey;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.img-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(46, 46, 186);
}

.text-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-left p,
.top-left h3 {
    margin: 0;
    padding: 0;
}

.top-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 23px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-image: url('../img/topmenu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.top-menu h3 {
    color: white;
    text-align: start;
}

.all-menu {
    padding: 10px;
    display: flex;
    justify-content: space-around;
    
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
}

.circle-menu {
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 17px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu p {
    margin-top: 3px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 7px;
    padding: 12px;
    border-radius: 20px;
}

.badge {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: white;
    padding: 15px;
}

.badge.kosong {
    padding: 10px;
}


.bersih-kotor {
    color: black;
}

.status-kamar {
    background-color: white;
    border-radius: 20px;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
}

.pilih-reservasi {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.card-reservasi {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 50px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.accordion-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    width: 100%;
    text-align: left;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}


.accordion-body {
    background-color: #F3F6F9;
    border: 1px solid #dee2e6;
    border-top: none;
    border-radius: 0 0 5px 5px;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-body p {
    font-size: 12px;
}

.collapse.show {
    max-height: 1000px;
    padding: 10px;
}

.text-reservasi h3,
.text-reservasi p {
    margin: 0;
}

.text-reservasi p {
    font-size: 13px;
}


.all-room {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

.kamar {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    margin-right: 5px;
    margin-top: 5px;
    gap: 5px;
    color: white;
}

.kamar p {
    margin-top: 15px;
}

.badge-container .p-1 {
    padding: 10px;
}

.circle-img {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    padding: 9px;
    background-color: #F3F6F9;
}

.circle-img svg {
    color: #4a53e7;
    width: 100%;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#collapseOne h4 {
    margin-bottom: 0;
    font-weight: bold;
}

#collapseOne p {
    margin-top: 0;
}

.modal-body p:not([style="font-weight: bold;"]) {
    font-size: 13px;
}

.set-status {
    display: flex;
    justify-content: space-between;
}

.set-status {
    font-size: 18px;
}

.set-status p {
    color: grey;
}

#regForm {
    background-color: #ffffff;
    padding: 10px;
}

input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
}

input.invalid {
    background-color: #ffdddd;
}

.tab {
    display: none;
}

.btn-step {
    background-color: #4a53e7;
    color: #F3F6F9;
    border-radius: 10px;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}

#prevBtn {
    background-color: #F3F6F9;
    color: #4a53e7;
    border-radius: 10px;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #4a53e7;
    color: #F3F6F9;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

.step.finish {
    background-color: #04AA6D;
}

.btn-rates {
    width: 40px;
    height: 30px;
    border-radius: 8px;
    background-color: #4a53e7;
    color: #F3F6F9;
}

.input-btn-kanan {
    display: flex;
    gap: 10px;
}

.form-btn-kanan {
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: #4a53e7;
    color: white;
}

.select-radio {
    display: flex;
    gap: 5px;
}

.select-radio input[type="radio"] {
    width: auto;
    height: auto;
}

.pilih-kamar {
    display: flex; 
    gap: 2px;
    align-items: center;
    background-color: #1BC5BD;
    height: 60px;
    width: 70px;
    border-radius: 10px;
}

.pilih-kamar input[type="checkbox"] {
    margin: 0;
    padding: 0;
}
.pilih-kamar label {
    margin: 0;
    padding: 0;
}


.form-kamar {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.checkbox-kamar {
    transform: scale(0.5);
}

.btn-pilih-segmen{
    border-radius: 5px;
    background-color: #4a53e7;
    color: #E3E6E9;
}
.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 20px; 
}

.data-top {
    display: flex;
    justify-content: space-between;
}

.arrival, .depature {
    display: flex;
    gap: 10px;
}

.arrival p, .depature p {
    margin: 0; 
    font-size: 14px; 
}

.arrival p:first-child, .depature p:first-child {
    font-weight: bold; 
}

.all-data{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.data-satuan{
    display: flex;
    justify-content: space-between;
}

.data{
    display: flex;
    align-items: center;
}

.data-header{
    display: flex;
    align-items: center;
    font-weight: bold;
}

.alasan-void{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.all-action{
    display: flex;
    justify-content: space-around;
}

.action{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
}

.action svg{
    width: 30px;
    height: 30px;
}

.card {
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    padding: 20px; 
}

.data-top{
    display: flex;
    justify-content: space-between;
}

.arrival{
display: flex;
}

.depature{
display: flex;
}

.arrival p, .depature p{
    margin: 0;
    font-size: 14px;
}

.data-tabel{
    align-items: start;
    font-weight: bold;
}

.tabel{
    display: flex;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .badge-container .p-1 {
        padding: 13px !important;
    }

    .kamar p {
        font-size: 25px;
    }

    .badge-container .badge {
        font-size: 25px;
        width: auto;
        height: auto;
    }

    .badge-container svg {
        width: 30px;
        height: 30px;
    }

    .nav-tabs .nav-item .nav-link {
        font-size: 25px;
        padding: 15px 20px;
    }

    .notifikasi {
        border-radius: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .notifikasi svg {
        width: 35px;
        height: 35px;
    }

    .top-left p {
        font-size: 20px;
    }

    .top-left h3 {
        font-size: 28px;
    }

    .img-profile {
        width: 80px;
        height: 80px;
    }

    .top-menu {
        justify-content: space-evenly;
        border-radius: 35px;
    }

    .top-menu h3 {
        font-size: 30px;
    }

    .circle-menu {
        border-radius: 100px;
        padding: 30px;
    }

    .menu p {
        font-size: 22px;
        margin-top: 10px;
    }

    .circle-menu svg {
        width:85px;
        height: 85px;
    }

    .component-kecil {
        height: 45px;
    }

    .nama-room h3 {
        font-size: 25px;
    }

    .all-room {
        gap: 8px;
    }

    .kamar {
        width: 120px;
        height: 110px;
    }

    .accordion-button h3 {
        font-size: 25px;
    }

    .accordion-button p {
        font-size: 18px;
    }

    .circle-img {
        padding: 15px;
    }

    .card-reservasi h3 {
        font-size: 25px;
    }

    .card-reservasi p {
        font-size: 18px;
    }

    .accordion-body h4 {
        font-size: 23px;
    }

    .accordion-body p {
        font-size: 18px;
    }

    .pageTitle h3 {
        font-size: 23px;
    }
}