.kosong {
    background-color: #37C174;
}

.terisi {
    background-color: #F64E60;
}

.reservasi {
    background-color: #FFA800;
}

.akan-checkout {
    background-color: #1da1f2;
}

.rusak {
    background-color: #8950FC;
}

.card-menu {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 5px;
    font-size: 10px;
    text-align: center;
    display: block;
    font-size: small;
    border-radius: 15px;
    height: 105px;
    width: auto;
}

.item-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.scroll-horizontal {
    width: auto;
    overflow-x: auto;
}

.container-status {
    display: flex;
}

.status {
    border-radius: 15px;
    flex: 0 0 auto;
    width: 60px;
    height: 35px;
    margin-right: 10px;
}

.scd-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9F7F5;
    border-radius: 15px;
    width: 60px;
    height: 35px;
    margin-right: 10px;
}


.component-kecil {
    flex: 0 0 auto;
    border-radius: 5px;
    width: 5px;
    height: 35px;
    margin-right: 10px;
    background-color: #1BC5BD;
}

.text-component {
    display: flex;
    padding-top: 15px;
}

.room {
    display: flex;
    align-items: center;
}

.kamar {
    border-radius: 15px;
    flex: 0 0 auto;
    width: 90px;
    height: 80px;
    margin-right: 10px;
    margin-top: 10px;
}

.text-status {
    height: 10px;
    padding-top: 2px;
    padding-right: 0, 5px;
    margin-right: 8px;
}

.text-status-akanCheckout {
    width: 120px;
    height: 10px;
    margin-top: 5px;
}

.kamar-content {
    display: flex;
    margin-top: 17%;
    margin-left: 20%;
}

.icon-kamar-content {
    width: 17px;
    height: 17x;

}

.text-kamar-content {
    padding-top: 17%;
    color: white;
    font-size: 15px;
}

.top-text {
    display: flex;
    justify-content: space-between;
    height: 10px;
}

.icon-comments {
    height: 16px;
    width: 16px;
    margin-top: -5px;
    padding-top: -10px;
}

.text-comments {
    margin-top: -9px;
    padding-top: -13px;
}

.text-atas {
    display: flex;
    margin-top: 1%;
}

.rates-plan {
    display: flex;
    padding-bottom: 10px;
}

.room-check {
    margin-top: -7px;
}

.room {
    margin-top: 3px;
}

.checkin {
    padding-bottom: 10px;
    margin-top: 2px;
}

.date-checkin {
    padding-left: 10px;
    margin-left: 5px;
    width: 93%;
}

.checkout {
    padding-bottom: 10px;
    margin-top: 12px;
}

.date-checkout {
    padding-left: 10px;
    margin-left: 5px;
    width: 93%;
}

.input {
    display: flex;
}

.pilih-segmen {
    height: 45px;
    border-radius: 7px;
}

.button-segmen {
    border: none;
    background-color: #470829;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    margin-top: 1px;
    height: 43px;
    width: 110px;
}

.text-button-segmen {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.pilih-data-tamu {
    height: 45px;
    border-radius: 7px;
}

.button-data-tamu {
    border: none;
    background-color: #470829;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    margin-top: 1px;
    height: 43px;
    width: 110px
}

.text-data-tamu {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.tambah-kurang {
    display: flex;
    align-items: center;
}

.btn-minus {
    border: none;
    border-start-start-radius: 7px;
    border-end-start-radius: 7px;
    background-color: #DDDDDD;
    width: 50px;
    height: 40px;
}

.form-jumlah {
    width: 250px;
    text-align: start;
    height: 40px;
}

.btn-plus {
    border: none;
    border-start-end-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #DDDDDD;
    width: 50px;
    height: 40px;
}

.btn-kembali {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    background-color: red;
}

.content-btn-kembali {
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
}

.panah-kembali {
    margin-top: 3%;
    width: 17px;
    height: 17px;
}

.text-kembali {
    padding-left: 3px;
    color: white;
}


.btn-selanjutnya {
    margin-left: 75px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: blue;
}

.content-btn-selanjutnya {
    display: flex;
    margin-top: 8px;
    margin-left: 5px;
}

.panah-selanjutnya {
    margin-top: 3%;
    width: 17px;
    height: 17px;
}

.text-selanjutnya {
    padding-right: 3px;
    color: white;
}

.pilih-kamar {
    display: flex;
    margin: 5px;
    align-items: center;
    align-content: center;
    background-color: #1BC5BD;
    height: 90px;
    border-radius: 10px;
}

.pengaturan {
    display: flex;
}

.text-setting {
    display: flex;
    flex-direction: column;
}

.text-setting p {
    margin: 0;
}

.button-back {
    display: flex;
    gap: 10px;
}

.icon-setting {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.custom-modal-dialog {
    padding: 20px;
    width: 80%;
    max-width: 600px;
    height: auto;
    max-height: 80%;
}

.btn-modal-data-tamu {
    background-color: #663259;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}
.btn-modal-close {
    background-color: #F4E1F0;
    color: #663259;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;

}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
}

.form-id{
    display: flex;
    gap: 15px;
}

.data-diri {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.data-diri input {
    width: 100%; 
}

.form-component p {
    margin-bottom: 0;
}
