.kosong {
    background-color: #28a745;
}

.terisi {
    background-color: #dc3545;
}

.reservasi {
    background-color: #ff9900;
}

.akan-checkout {
    background-color: #007bff;
}

.rusak {
    background-color: #6f42c1;
}

.card-menu {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 2px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-item {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0.185);
    margin: 5px;
    font-size: 10px;
    text-align: center;
    display: block;
    font-size: small;
    border-radius: 15px;
    height: 105px;
    width: auto;
}

.item-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


.scroll-horizontal {
    width: auto;
    overflow-x: auto;
}

.container-status {
    display: flex;
}

.status {
    border-radius: 15px;
    flex: 0 0 auto;
    width: 60px;
    height: 35px;
    margin-right: 10px;
}

.scd-status {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C9F7F5;
    border-radius: 15px;
    width: 60px;
    height: 35px;
    margin-right: 10px;
}


.component-kecil {
    flex: 0 0 auto;
    border-radius: 5px;
    width: 5px;
    height: 35px;
    margin-right: 10px;
    background-color: rgb(46, 46, 186);
}

.text-component {
    display: flex;
    padding-top: 15px;
}

.room {
    display: flex;
    align-items: center;
}

.text-status {
    height: 10px;
    padding-top: 2px;
    padding-right: 0, 5px;
    margin-right: 8px;
}

.text-status-akanCheckout {
    width: 120px;
    height: 10px;
    margin-top: 5px;
}

.top-text {
    display: flex;
    justify-content: space-between;
    height: 10px;
}

.icon-comments {
    height: 16px;
    width: 16px;
    margin-top: -5px;
    padding-top: -10px;
}

.text-comments {
    margin-top: -9px;
    padding-top: -13px;
}

.text-atas {
    display: flex;
    margin-top: 1%;
}

.rates-plan {
    display: flex;
    padding-bottom: 1px;
}

.room-check {
    margin-top: -7px;
}

.room {
    margin-top: 3px;
}

.checkin {
    padding-bottom: 1px;
    margin-top: 2px;
}

.date-checkin {
    border: 0;
    border-bottom: 0.1px solid grey;
    padding-left: 10px;
    margin-left: 5px;
    width: 93%;
}

.checkout {
    padding-bottom: 1px;
    margin-top: 6px;
}

.date-checkout {
    border: 0;
    border-bottom: 0.1px solid grey;
    padding-left: 10px;
    margin-left: 5px;
    width: 93%;
}

.input {
    display: flex;
}

.pilih-segmen {
    height: 45px;
    border-radius: 7px;
}

.button-segmen {
    border: none;
    background-color: #470829;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    margin-top: 1px;
    height: 43px;
    width: 110px;
}

.text-button-segmen {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.pilih-data-tamu {
    margin-top: 1px;
    height: 45px;
    border-radius: 7px;
}

.button-data-tamu {
    border: none;
    background-color: #470829;
    border-top-right-radius: 10px;
    border-end-end-radius: 10px;
    margin-top: 1px;
    height: 43px;
    width: 110px
}

.text-data-tamu {
    margin-top: 7px;
    font-size: 12px;
    color: white;
}

.tambah-kurang {
    display: flex;
    align-items: center;
}

.btn-minus {
    border: none;
    border-start-start-radius: 7px;
    border-end-start-radius: 7px;
    background-color: #DDDDDD;
    width: 50px;
    height: 40px;
}

.form-jumlah {
    border: 0px;
    border-bottom: 1px solid grey;
    width: 250px;
    text-align: start;
    height: 40px;
}

.btn-plus {
    border: none;
    border-start-end-radius: 7px;
    border-bottom-right-radius: 7px;
    background-color: #DDDDDD;
    width: 50px;
    height: 40px;
}

.btn-kembali {
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 110px;
    background-color: #f64e60;
}

.content-btn-kembali {
    display: flex;
    margin-top: 8px;
    margin-left: 10px;
}

.panah-kembali {
    margin-top: 3%;
    width: 17px;
    height: 17px;
}

.text-kembali {
    padding-left: 3px;
    color: white;
}


.btn-selanjutnya {
    margin-left: 75px;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 120px;
    background-color: #8950fc;
}

.content-btn-selanjutnya {
    display: flex;
    margin-top: 8px;
    margin-left: 5px;
}

.panah-selanjutnya {
    margin-top: 3%;
    width: 17px;
    height: 17px;
}

.text-selanjutnya {
    padding-right: 3px;
    color: white;
}

.pilih-kamar {
    display: flex;
    margin: 5px;
    align-items: center;
    align-content: center;
    background-color: #1BC5BD;
    height: 90px;
    border-radius: 10px;
}

.btn-atas-preview {
    background-color: #470829;
    height: 30px;
    margin-left: 10px;
    border: 0;
    border-radius: 5px;
    margin-top: -11px;
}

.text-btn-preview {
    font-size: small;
    color: white;
}

.pengaturan {
    display: flex;
}

.text-setting {
    display: flex;
    flex-direction: column;
}

.text-setting p {
    margin: 0;
}

.icon-setting {
    color: #ffb3ff;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.comments-setting {
    width: 20px;
    height: 20px;
}

.text-head-setting {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
}

.btn-modal-data-tamu {
    background-color: #663259;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;
}

.btn-modal-close {
    background-color: #F4E1F0;
    color: #663259;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: bold;

}

.form-modal {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 15px;
}

.form-id {
    display: flex;
    gap: 15px;
}

.data-diri {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.data-diri input {
    width: 100%;
}

.form-component p {
    margin-bottom: 0;
}

.header-preview {
    display: flex;
    justify-content: space-between;
}

.top-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-img {
    background-color: #470829;
    height: 150px;
    width: 150px;
    border-radius: 100%;
}

.email {
    display: flex;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.img-component {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F6F9;
    border-radius: 10px;
    padding: 15px;
}

.setting-component {
    display: flex;
    gap: 10px;
}

.text-setting h3,
.text-setting p {
    margin: 0;
}

.notification {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.notification-component {
    display: flex;
    border-radius: 13px;
}

.notification-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.notification-text {
    margin-left: 15px;
}

.notification-persen {
    margin-left: auto;
    font-weight: bold;
}

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left {
    display: flex;
    gap: 10px;
}


.notifikasi {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.2px solid grey;
    width: auto;
    height: auto;
    border-radius: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}


.img-profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: rgb(46, 46, 186);
}

.text-profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.top-left p,
.top-left h3 {
    margin: 0;
    padding: 0;
}

.top-menu {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 23px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-image: url('../img/topmenu.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.top-menu h3 {
    color: white;
    text-align: start;
}

.all-menu {
    display: flex;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    flex-grow: 1;
}

.circle-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.menu p {
    margin-top: 3px;
    font-weight: bold;
    color: #ffffff;
    font-size: 14px;
}

.badge-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: white;
    gap: 7px;
    padding: 12px;
    border-radius: 20px;
}

.badge {
    display: flex;
    align-items: center;
    margin-right: 5px;
    color: white;
    padding: 15px;
}
.badge.kosong {
    padding: 10px; /* Atur padding sesuai kebutuhan Anda */
}


.bersih-kotor {
    color: black;
}

.status-kamar {
    background-color: white;
    border-radius: 20px;
}

.nav-tabs .nav-link.active {
    background-color: #007bff;
    color: #fff;
}
.pilih-reservasi {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-reservasi{
    text-align: center;
    font-size: 50px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

.all-room {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}


.kamar {
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    margin-right: 5px;
    margin-top: 5px;
    gap: 5px;
    color: white;
}

.kamar p {
    margin-top: 15px;
}
.badge-container .p-1 {
    padding: 10px; /* Padding default */
}

.buat-reservasi {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.card-buat-reservasi{
    text-align: start;
    font-size: small;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
}

@media (min-width: 768px) {
    .badge-container .p-1 {
        padding: 13px !important; /* Atur padding lebih besar untuk perangkat dengan layar lebih besar */
    }
    .kamar p {
        font-size: 25px;
    }
    .badge-container .badge {
        font-size: 25px;
        width: auto;
        height: auto;
    }
    .badge-container svg {
        width: 30px;
        height: 30px; 
    }
    .nav-tabs .nav-item .nav-link {
        font-size: 25px; 
        padding: 15px 20px; 
    }
    .notifikasi {
        border-radius: 35px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 25px;
        padding-right: 25px;
    }

    .notifikasi svg {
        width: 35px;
        height: 35px;
    }

    .top-left p {
        font-size: 20px;
    }

    .top-left h3 {
        font-size: 28px;
    }

    .img-profile {
        width: 80px;
        height: 80px;
    }

    .top-menu {
        justify-content: space-evenly;
        border-radius: 35px;
    }

    .top-menu h3 {
        font-size: 30px;
    }

    .circle-menu {
        border-radius: 65px;
    }
    .menu p {
        font-size: 22px;
        margin-top: 10px;
    }
    .circle-menu svg {
        width: 105px;
        height: 105px;
    }
    .component-kecil {
        height: 45px;
    }
    .nama-room h3 {
        font-size: 25px;
    }
    .all-room{
        gap: 8px;
    }
    .kamar{
        width: 120px;
        height: 110px;
    }
    
}