<!-- App Header -->
<div class="appHeader no-border">
    <div class="left">
        <a href="javascript:history.back()" class="headerButton">
            <svg class="icon bi bi-chevron-left" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M11.354 1.646a.5.5 0 010 .708L5.707 8l5.647 5.646a.5.5 0 01-.708.708l-6-6a.5.5 0 010-.708l6-6a.5.5 0 01.708 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>
    <div class="pageTitle">
        Daftar Meja
    </div>
    <div class="right">

    </div>
</div>
<!-- * App Header -->

<!-- App Capsule -->
<div id="appCapsule">
    <ul class="listview link-listview items-table">
        <div class="text-center py-3"><span class="spinner-border" role="status" aria-hidden="true"></span></div>
    </ul>
</div>