{{#each items as | cat |}}
<div class="tab-pane fade {{#if ([helpers/equal] @index '0')}}show active{{/if}}" id="cat-{{cat.id}}" role="tabpanel">
    <ul class="listview image-listview media">
        {{#each cat.products as |product|}}
        <li class="product" data-id='{{product.id}}'>
            <div class="item">
                <div class="imageWrapper">
                    <img src="/images/placeholder.jpg" alt="image" class="imaged w48">
                </div>
                <div class="in">
                    <div>
                        {{product.name}}
                        <div class="text-muted">Rp{{[helpers/currency] product.price}}</div>
                    </div>
                </div>
            </div>
        </li>
        {{/each}}
    </ul>
</div>
{{else}}
<div class="tab-pane fade show active" role="tabpanel">
    <div class="text-center my-3">Produk tidak tersedia.</div>
</div>
{{/each}}