{{#each items}}
<li class="nav-item">
    <a class="nav-link {{#if ([helpers/equal] @index '0')}}active{{/if}}" data-toggle="tab" href="#cat-{{ id }}"
        role="tab">
        {{{name}}}
    </a>
</li>
{{else}}
<li class="nav-item">
    <a class="nav-link active" data-toggle="tab"
        role="tab">
        Tidak ada kategori
    </a>
</li>
{{/each}}