<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Tanggal</th>
                <th scope="col" class="text-right">Transaksi</th>
                <th scope="col" class="text-right">Penjualan</th>
            </tr>
        </thead>
        <tbody>
            {{#each transaction_data as | item |}}
            <tr>
                <th scope="row">{{[helpers/date_format] item.day}}</th>
                <td class="text-right">{{item.trx_count}}</td>
                <td class="text-right">Rp{{[helpers/currency] item.trx_total_prices}}</td>
            </tr>
            {{else}}
            <tr colspan="3">
                <i>Belum Ada Transaksi</i>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>